@import './root.css';

* {
    box-sizing: border-box;
}

body {
    background: var(--bgColor);
    position: relative;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bgTable);
    padding: 1.2rem;
    margin: 4rem 4rem 4rem 4rem;
    position: relative;
}

#containerInputs {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
}

#box1 {
    height: 20%;
    position: relative;
}

#containerInputs button {
    height: 20%;
}

#containerInputs input,
input:focus {
    height: 20%;
    border-style: none;
    outline-style: none;
    border: none;
    box-shadow: 0 2px 5px #f244f8ff;
}

h1 {
    font-size: 2.4rem;
    margin-left: -40rem;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px 1rem;
}

thead th {
    font-weight: 600;
}

th {
    padding: 5px;
    font-weight: 400;
}

tbody .row_tbody {
    background: var(--bgRow);
    box-shadow: 0 1px 20px rgba(83, 83, 83, 0.838);
}

tbody .product {
    display: flex;
    align-items: center;
}

tbody .icon {
    width: 34px;
    height: 34px;
    margin: 5px;
    background: #eee;
    border-radius: 50%;
    margin-right: 15px;
}

tbody .code {
    font-weight: 600;
}

tbody .description {
    font-size: 12px;
    color: #3b3b3b;
}

tbody .active,
tbody .inactive {
    padding-left: 15px;
    position: relative;
}

tbody .active::before,
tbody .inactive::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 0;
    top: 25%;
    background: #079400;
}

tbody .inactive::before {
    background: #f00;
}

button {
    border-style: none;
    padding: 4px 10px;
    background: #0084ff;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.action-button {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
}

.action-button span {
    display: block;
    width: 4px;
    height: 4px;
    background: #f244f8ff;
    border-radius: 50%;
    margin: 1px;
}

.action-button:hover span {
    opacity: 0.7;
}

.icon {
    width: 40px;
}

button {
    cursor: pointer;
}